{% extends 'layouts.master' %}

{% block title %}
  New Department
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">New department
      </div>
      <div class="panel-body">
        <a href="{{ ('/department') }}" title="Back">
          <button class="btn btn-warning btn-xs">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back</button>
        </a>
        <br/>
        <br/>

        {% include 'includes.errors' %}

        {{ form.open({ url: '/department', method: 'POST', class: 'form-horizontal' }) }}
        {{ csrfField }}

        <div class="form-group">
          {{ form.label('Name', 'Name', { class: 'col-md-4 control-label' }) }}

          <div class="col-md-6">
            {{ form.text('name', old('name'), { class: 'form-control' }) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            {{ form.button('Add Department', null, { class: 'btn btn-primary' }) }}
          </div>
        </div>
        {{ form.close() }}
      </div>
    </div>
  </div>

{% endblock %}
