{% extends 'layouts.master' %}

{% block title %}
    New Items
{% endblock %}

{% block content %}
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">New Items </div>
                    <div class="panel-body">
                      <a href="{{ ('/items') }}" title="Back"><button class="btn btn-warning btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                        <br />
                        <br />

                        {% include 'includes.errors' %}

                        {{ form.open({ url: '/items/update', method: 'POST', class: 'form-horizontal' }) }}
                            {{ csrfField }}
                             <div class="form-group">
                                
                                <div class="col-md-6">
                                    {{ form.hidden('id', items.id, { class: 'form-control',hidden:'true' }) }}
                                </div>
                            </div>
                             <div class="form-group">
                                {{ form.label('Name', 'Code', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.text('code', items.code, { class: 'form-control' }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.label('Name', 'Name', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.text('name', items.name, { class: 'form-control' }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.label('Desc', 'Desc', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.textarea('desc', items.desc, { class: 'form-control' }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.label('room', 'Rooms', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.textarea('room', items.room, { class: 'form-control' }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.label('Desc', 'Vendor', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.textarea('vendor', items.vendor, { class: 'form-control' }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.label('notes', 'Notes', { class: 'col-md-4 control-label' }) }}

                                <div class="col-md-6">
                                    {{ form.textarea('notes', items.notes, { class: 'form-control' }) }}
                                </div>
                            </div>
                            <div class="form-group">
                              {{ form.label('notes', 'Date Buy', { class: 'col-md-4 control-label' }) }}
                                <div class="col-md-6">
                                  {{ form.label('notes', items.date_buy, { class: 'control-label' }) }}
                                   <input type="text" class="form-control"  name="datebuy" id="datepicker" required>

                                </div>
                            </div>

                             <div class="form-group">
                              {{ form.label('notes', 'Expired Date', { class: 'col-md-4 control-label' }) }}
                                <div class="col-md-6">
                                  {{ form.label('Expired', items.expired, { class: 'control-label' }) }}
                                   <input type="text" class="form-control"  name="expired" id="datepicker2" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    {{ form.button('update items', null, { class: 'btn btn-primary' }) }}
                                </div>
                            </div>
                        {{ form.close() }}
                    </div>
                </div>


    </div>
<script>
function formatDate(value)
{
   return value.getMonth()+1 + "-" + value.getDate() + "-" + value.getYear();
}
</script>
{% endblock %}
